{% extends 'common_templates/base.html' %}

{% load static %}

{% block content %}

<!--search overlay start-->
<div class="search-wrap">
    <div class="overlay">
        <form action="#" class="search-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-9">
                        <input type="text" class="form-control" placeholder="Search..."/>
                    </div>
                    <div class="col-md-2 col-3 text-right">
                        <div class="search_toggle toggle-wrap d-inline-block">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--search overlay end-->


	<form method="post" class="comment-form mb-5 gray-bg p-5" id="comment-form">
        {% csrf_token %}
        <h3 class="mb-4 text-center">Please add Your Post Here!</h3>
        {% for field in form %}
        <div class="row">
        <div class="form-group">
        <div class="col-md-6">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
        </div>
            </div>
        </div>    
            
        {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
		
	</form>

{% endblock %}


