{% extends 'common_templates/base-without-navbar.html' %}

{% load static %}

{% block content %}

<div class="login-background" style="background-image: url('{% static 'images/background.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% include 'common_templates/_index_without_profile_text.html' %}
                <p class="mt-5 move-up" data-aos="fade-up">
                    <a href="{% url 'login' %}" class="btn btn-get-started">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-get-started">Register</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
