{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="vizew-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"
                                                                                      aria-hidden="true"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"> Post</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->



    <!-- ##### Post Details Area Start ##### -->
    <section class="post-details-area mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="post-details-thumb mb-50">
                        <img src="{% static 'img/bg-img/34.jpg' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-lg-8 col-xl-7">
                    <div class="post-details-content">
                        <!-- Blog Content -->
                        <div class="blog-content">

                            <!-- Post Content -->


                            <div class="post-content mt-0" id="{{ posts.pk }}">
                                <p href="#" class="post-title mb-2">{{ posts.title }}</p>

                                <div class="d-flex justify-content-between mb-30">
                                    <div class="post-meta d-flex align-items-center">
                                        <a href="#" class="post-author">{{ posts.author }}</a>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <a href="#" class="post-date">{{ posts.created_at }}</a>
                                    </div>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{ post.like_set.count }}</a>
                                              
                                       
                                      
                                    </div>
                                </div>
                            </div>

                            <p>{{ posts.content }}</p>

                            <a href="{% url 'delete-post' pk=posts.pk %}">
                                <button type="submit" class="btn vizew-btn w-15 mt-20">Delete post</button>
                            </a>
                            <a href="{% url 'update-post' posts.pk %}">
                                <button type="submit" class="btn vizew-btn w-15 mt-20">Update post</button>
                            </a>


                            <!-- Comment Area Start -->
                            <div class="comment_area clearfix mb-50">

                                <!-- Section Title -->
                                <div class="section-heading style-2">
                                    <h4>Comments</h4>
                                    <div class="line"></div>
                                </div>

                                <ul>
                                    <!-- Single Comment Area -->
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->


                                        <ol class="children">
                                            <li class="single_comment_area">
                                                <!-- Comment Content -->
                                                <div class="comment-content d-flex">

                                                    <!-- Comment Meta -->
                                                    {% for comment in comments %}
                                                        <div class="comment-meta">
                                                            <a href="#"
                                                               class="comment-date">{{ comment.created_at }}</a>
                                                            <h6>{{ comment.author }}</h6>
                                                            <p>{{ comment.content }}</p>
                                                            <div class="d-flex align-items-center">
                                                                <a href="#" class="like">like</a>
                                                                <a href="#" class="reply">Reply</a>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        </ol>


                                        <!-- Single Comment Area -->

                                </ul>
                            </div>

                            <!-- Post A Comment Area -->
                            <div class="post-a-comment-area">

                                <!-- Section Title -->
                                <div class="section-heading style-2">
                                    <h4>Leave a reply</h4>
                                    <div class="line"></div>
                                </div>

                                <!-- Reply Form -->
                                <div class="contact-form-area">
                                    <form action="" method="post">
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-12">
                                                {{ comment_form }}
                                            </div>
                                            <div class="col-12">
                                                <button class="btn vizew-btn mt-30" type="submit">Submit Comment
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="sidebar-area">

                       

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget p-0 author-widget">
                            <div class="p-4">
                                <img class="author-avatar" src="img/bg-img/30.jpg" alt="">
                                <a href="#" class="author-name">Chris Hemsworth</a>
                                <div class="author-social-info">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                            </div>

                            <div class="authors--meta-data d-flex">
                                <p>Posted<span class="counter">80</span></p>
                                <p>Comments<span class="counter">230</span></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Post Details Area End ##### -->

{% endblock %}